@import url('https://fonts.googleapis.com/css?family=Arvo|Roboto');
//font-family:'Roboto', sans-serif;
// font-family: 'Arvo', serif;

html,
body {
  box-sizing: border-box;
  justify-content: center;
  font-family: 'Arvo', serif;
  font-size: 14px;
  line-height: 1.15;
  background: $ghost;
}

a {
  @include jt-links-fancy($loaded);
}

h1 {
  font-size: 1.6rem;
}
