header {
  background: black
    url('http://res.cloudinary.com/jared-truscott/image/upload/v1526906273/quickSocialMedia/maxresdefault.jpg')
    no-repeat center center;
  background-size: contain;
  width: 100%;
  height: 250px;
}
