// TODO these need moved into respective module or made more "sassy"

@media screen and (min-width: 600px) {
  nav {
    height: 230px;

    .nav-header {
      display: inline;
    }

    .nav-list .nav-list-item {
      width: auto;
    }
  }
}

@media screen and (min-width: 768px) {
  nav {
    .nav-list .nav-list-item {
      font-size: 1.5rem;
      padding: 10px;
    }
  }

  section {
    .keep-praising {
      display: inline;
    }
  }
}

@media screen and (min-width: 945px) {
  nav {
    .nav-header {
      margin: 0 50px;
    }

    .nav-list .nav-list-item {
      font-size: 1.5rem;
      padding: 20px;
    }
  }
}

@media screen and (min-width: 1024px) {
}
