// TODO these need moved into respective module or made more "sassy"

@media screen and (min-width: 600px) {
  nav {
    height: 230px;

    .nav-header {
      display: inline;
    }

    .nav-list {
      padding: 10px;

      .nav-list-item {
        padding: 10px 5px;
        width: auto;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  nav {
    .nav-list .nav-list-item {
      font-size: 1.5rem;
      padding: 15px 5px;
    }
  }

  section .card {
    margin-left: 10px;
  }
}

@media screen and (min-width: 945px) {
  .nav-list .nav-list-item {
    font-size: 1.5rem;
    padding: 20px;
  }
}

@media screen and (min-width: 1160px) {
  nav .nav-list .nav-list-item {
    padding: 20px 15px;
  }
  section .card {
    width: 45%;
  }
}

@media screen and (min-width: 1265px) {
  nav .nav-list .nav-list-item {
    padding: 25px;
  }
}

@media screen and (min-width: 1465px) {
  section .card {
    margin: 20px 5px 0;
    width: 350px;
  }
}
