nav {
  background: rgba(darkgrey, 0.9);
  font-family: 'Arvo', serif;
  position: fixed;
  display: flex;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  overflow: hidden;
  transition: 1s ease-out;
  z-index: 999;

  #hamburgerMenu {
    margin-top: -12px;
    margin-left: 15px;

    .hamburger-top,
    .hamburger-middle,
    .hamburger-bottom {
      border-bottom: 3px solid $fbi;
      padding-top: 5px;
      width: 30px;
      transition: 1s ease-out;
    }
  }

  .nav-header { 
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#feffff+0,ddf1f9+35,a0d8ef+100;Blue+3D+%2318 */
  background: rgb(254, 255, 255); /* Old browsers */
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    rgba(254, 255, 255, 1) 0%,
    rgba(221, 241, 249, 1) 35%,
    rgba(160, 216, 239, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(254, 255, 255, 1) 0%,
    rgba(221, 241, 249, 1) 35%,
    rgba(160, 216, 239, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(
    ellipse at center,
    rgba(254, 255, 255, 1) 0%,
    rgba(221, 241, 249, 1) 35%,
    rgba(160, 216, 239, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#a0d8ef',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    border: 1px solid $badass;
    border-radius: 5px;
    width: 70%;
    margin-right: 15px;
    text-align: center;
    transition: 0.5s ease-out;
    display: none;
    box-shadow: 5px 5px 10px grey;

    .profile-image {
      width: 90%;
      max-width: 190px;
      margin-top: -6px;
      border-radius: 100%;
      border: 3px solid $badass;
      transition: 0.5s ease-out;
    }

    .profile-name {
      color: $black;
      font-weight: bold;
      font-size: 2rem;
      text-shadow: 1px 1px 2px $ice;
      margin-top: 5px;
    }
  }

  .nav-list {
    list-style: none;
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
    width: 100%;

    .nav-list-item {
      font-weight: bold;
      font-size: 1.25rem;
      list-style: none;
      transition: 1.5s ease-out;
      text-align: center;
      align-self: center;
      flex: 1 0 auto;
      margin: 5px;
      padding: 10px 5px;
      opacity: 1;
      width: 90%;
      transition: 0.5s ease-out;
      box-shadow: 5px 5px 10px grey !important;

      a {
        color: $ded;
        text-shadow: 1px 1px 2px black;
      }

      @include jt-button-fancy(darken($ice, 20%));
    }
  }
}

// menu animations
.spin .hamburger-top {
  -webkit-transform: rotate(45deg) translate(10px, 10px);
  transform: rotate(45deg) translate(10px, 10px);
}
.spin .hamburger-bottom {
  -webkit-transform: rotate(-45deg) translate(-2px, -4px);
  transform: rotate(-45deg) translate(-2px, -4px);
}
.spin .hamburger-middle {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  opacity: 0;
}

.change {
  background: none;
  height: 30px;
  width: 40px;
  margin-left: 15px;
}

.invisible {
  opacity: 0;
}
