nav {
  background: rgba($primary-color-dark, 0.85);
  position: fixed;
  display: flex;
  top: 0;
  right: 0;
  width: 100%;
  height: 230px;
  padding: 10px;
  overflow: hidden;
  transition: 1s ease-out;
  z-index: 999;

  #hamburgerMenu {
    margin-top: -12px;
    margin-left: 15px;

    .hamburger-top,
    .hamburger-middle,
    .hamburger-bottom {
      border-bottom: 3px solid $fbi;
      padding-top: 5px;
      width: 30px;
      transition: 1s ease-out;
    }
  }

  .nav-header {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffb76b+0,ffa73d+30,ff7c00+76,ff7f04+100 */
    background: #ffb76b; /* Old browsers */
    background: -moz-linear-gradient(
      -45deg,
      #ffb76b 0%,
      #ffa73d 30%,
      #ff7c00 76%,
      #ff7f04 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      -45deg,
      #ffb76b 0%,
      #ffa73d 30%,
      #ff7c00 76%,
      #ff7f04 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      135deg,
      #ffb76b 0%,
      #ffa73d 30%,
      #ff7c00 76%,
      #ff7f04 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr="#ffb76b",
      endColorstr="#ff7f04",
      GradientType=1
    ); /* IE6-9 fallback on horizontal gradient */
    border: 1px solid $badass;
    border-radius: 5px;
    width: 70%;
    margin-right: 15px;
    text-align: center;
    transition: 0.5s ease-out;
    display: none;

    .profile-image {
      width: 90%;
      max-width: 190px;
      margin-top: -6px;
      border-radius: 100%;
      border: 3px solid $badass;
      transition: 0.5s ease-out;
    }

    .profile-name {
      font-weight: bold;
      font-size: 1.85rem;
      text-shadow: 1px 1px 2px $white;
    }
  }

  .nav-list {
    list-style: none;
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
    width: 100%;

    .nav-list-item {
      font-weight: bold;
      font-size: 1.25rem;
      list-style: none;
      transition: 1.5s ease-out;
      text-align: center;
      align-self: center;
      flex: 1 0 auto;
      margin: 5px;
      padding: 10px 5px;
      opacity: 1;
      transition: 0.5s ease-out;

      a {
        color: $ded;
        text-shadow: 1px 1px 2px black;
      }

      @include jt-button-fancy(darken($ice, 20%));
    }
  }
}

// menu animations
.spin .hamburger-top {
  -webkit-transform: rotate(45deg) translate(10px, 10px);
  transform: rotate(45deg) translate(10px, 10px);
}
.spin .hamburger-bottom {
  -webkit-transform: rotate(-45deg) translate(-2px, -4px);
  transform: rotate(-45deg) translate(-2px, -4px);
}
.spin .hamburger-middle {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  opacity: 0;
}

.change {
  background: none;
  height: 30px;
  width: 40px;
  margin-left: 15px;
}

.invisible {
  opacity: 0;
}
